/* General Styles */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #e7e7e7;
  margin: 0;
}

/* Navbar Styles */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar__container {
  background-color: #3f3f4d;
  padding: 15px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.navbar__flex {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__hamburger {
  width: 30px;
  height: 30px;
  background: #3f3f4d
    url("https://res.cloudinary.com/ajayrawat/image/upload/v1508734485/logo_zdwi2d.svg")
    no-repeat;
  background-size: cover;
  margin-right: 15px;
}

.navbar__search {
  flex: 1;
}

.navbar__input {
  background-color: #34343f;
  border: 1px solid #34343f;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  outline: none;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #c0c7da;
}

.navbar__button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: #43cb83
    url("https://res.cloudinary.com/ajayrawat/image/upload/v1508734484/search_icon_pr2sma.svg")
    no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.navbar__button:hover,
.navbar__button:focus {
  background-color: #32b46f;
}

.navbar__button:active {
  background-color: #2fac6a;
  transform: translateY(1px);
}

.navbar__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar__links li {
  margin-left: 15px;
}

.navbar__links li:last-child {
  margin-right: 0;
}

.navbar__links li a {
  color: #c0c7da;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}

.navbar__links li a:hover {
  color: white;
}

/* Media Queries */
@media screen and (max-width: 870px) {
  .navbar__flex {
    flex-direction: column;
    align-items: stretch;
  }

  .navbar__hamburger {
    margin-bottom: 15px;
  }

  .navbar__links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
  }

  .navbar__links li {
    margin: 10px 0;
  }
}

@media screen and (max-width: 440px) {
  /* Add your mobile-specific styles here */
}

.padding10 {
  padding: 10px;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.padding5 {
  padding: 5px;
}
